@import './root.scss';

.eol {
    border: 0 solid #ffffff;
    border-left-width: .2rem;
    border-color: var(--eol);
    padding-left: .5rem;
}
.active {
    border: 0 solid #ffffff;
    border-left-width: .2rem;
    border-color: var(--active);
    padding-left: .5rem;
}
.released {
    border: 0 solid #ffffff;
    border-left-width: .2rem;
    border-color: var(--released);
    padding-left: .5rem;
}
.progress {
    border: 0 solid #ffffff;
    border-left-width: .2rem;
    border-color: var(--progress);
    padding-left: .5rem;
}
.bg-eol, .bg-opinion { background-color: var(--eol-alt); }
.bg-progress { background-color: var(--progress); }
.bg-active, .bg-education { background-color: var(--active-alt); }
.bg-released, .bg-life { background-color: var(--released-alt); }
.bg-concepts { background-color: var(--concepts-alt); }