@mixin transition {
  transition: color text-decoration-color opacity background-color 125ms ease-out;
  -webkit-transition: 125ms color text-decoration-color opacity background-color;
}


@mixin q {
  // background-image: linear-gradient(#D60270, #9B4F96, #0038A8); //b
}

@mixin feed-grid {
    display: grid;
    gap: 1rem;
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
