@mixin transition {
  transition: color 125ms,
              background-color 125ms,
              text-decoration-color 125ms,
              text-decoration 125ms,
              text-underline-offset 125ms;
  -webkit-transition: 125ms color,
                      125ms background-color,
                      125ms text-decoration-color,
                      125ms text-underline-offset,
                      125ms text-decoration;
}


@mixin q {
  // background-image: linear-gradient(#D60270, #9B4F96, #0038A8); //b
}

@mixin feed-grid {
    display: grid;
    gap: 1rem;
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
