:root {
    /* Tag colours */
    --purple: #b7c0ff; // AAA compliant
    --purple-l: #4259fd; // AA compliant (light)
    --purple-old: #909eff; // legacy colour still used in logo

    /* Variables */
    --body-padding-y: calc(var(--unit));
    --body-padding-x: calc(var(--unit)*4);
    @media (max-width: 600px) { --body-padding-x: calc(var(--unit)*2); }
    --body-max-width: calc(var(--unit)*152);
    --unit: calc(16px*0.5);
  
    /* Seasonal occasions */
    --lunar: #ff292a;
    --lunar-bg: #f5e814;
    --lunar-p3: color(display-p3 0.9195 0.2592 0.2202);
    --lunar-bg-p3: color(display-p3 0.9521 0.9116 0.314)
    //--pride:;
}
