:root {
    /* Tag colours */
    --purple: #b7c0ff; // AAA compliant
    --purple-l: #4259fd; // AA compliant (light)
    --purple-old: #909eff; // legacy colour still used in logo 
    --eol: #f97316; 
    --eol-alt: #f69e7b; /* eol, opinion */
    --active-alt: #8096f0; /* active, education */
    --active: #3b82f6;
    --released-alt: #7adf82; /* released, life */
    --released: #10b981;
    --progress: #71717a;
    --concepts-alt: #ffabe1;
    --concepts: #f090ce; /* concepts */

    /* Variables */
    --body-padding-y: calc(var(--unit));
    --body-padding-x: calc(var(--unit)*4);
    @media (min-width: 600px) {
        --body-padding-x: calc(var(--unit)*3);
        --body-padding-y: calc(var(--unit)*2);
    }
    --body-max-width: calc(var(--unit)*152);
    --unit: calc(16px*0.5);
}
