@import './root.scss';
//@import './mixins.scss';

/* Start main doc */
html,
body {
    font-family: Helvetica, sans-serif;
    font-size: 1.075rem;
    margin: 0;
    padding: 0;
    p { line-height: 1.6; }
    h1 {
        font-size: 2rem;
        margin: 0;
        margin-bottom: 5px;
    }
    h2 {
        font-size: 1.5rem;
        margin: .5rem 0;
    }
    ol > li,
    ul > li {
        margin: .3rem 0;
        ol > li:last-child,
        ul > li:last-child { padding-bottom: 0; }
    }
    @media (prefers-reduced-motion) {
        * { animation: none !important; }
    }
    a {
        color: var(--purple-l);
        //color: var(--lunar-bg);
        text-underline-offset: .2rem;
        text-decoration-thickness: .125rem;
        opacity: 1;
        &:hover,
        &:focus {
            //background: var(--lunar-bg);
            //color: black;
            opacity: .7 !important;
        }
        //@include transition;
    }
    abbr {
        text-decoration: underline;
        text-decoration-style: dotted;
        text-decoration-thickness: 2px;
        text-underline-offset: 2px;
        cursor: help;
    }
    @media (prefers-color-scheme: dark) {
        background: #191919;
        color: #f3f3f3;
        a { color: var(--purple); }
    }
}
body {
    margin: 0 auto;
    max-width: 85%;
    @media(min-width: 1200px) { max-width: 65%; }
}
main {
    header > * { margin: .5rem 0; }
    img { max-width: 100%; }
}
footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 1rem;
    color: rgba(0,0,0,0.7);
    @media(prefers-color-scheme: dark) { color: rgba(243,243,243,0.7); }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        :first-child { margin-left: 0; }
        :last-child { margin-right: 0; }
        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: .9rem .5rem;
            &:hover,
            &:focus {
                svg path {
                    //stroke: var(--lunar);
                    stroke: var(--purple-l);
                    @media (prefers-color-scheme: 'dark') { stroke: var(--purple); }
                }
                a {
                    //color: var(--lunar);
                    //text-decoration-color: var(--lunar);
                    color: var(--purple-l);
                    text-decoration-color: var(--purple-l);
                    @media (prefers-color-scheme: 'dark') {
                        color: var(--purple);
                        text-decoration-color: var(--purple);
                    }
                    background: none;
                }
            }
            @media (prefers-color-scheme: 'dark') {
                svg path { stroke: white; }
            }
            a { font-weight: bold; }
        }
    }
}

// About page-specifics
.adj {
  aside {
    img {
        max-width: 100%;
        @media(max-width: 650px){ width: 100%; }
    }
  }
  @media(min-width: 650px) {
      display: flex;
      flex-direction: row;
      aside {
        margin-right: 2rem;
        hr { display: none; }
      }
  }
}
.bio {
    font-weight: 600;
    font-size: 1.2rem;
}

// Inline code and blocks
pre,
code {
    background: #383838;
    color: #b1a9d3;
    border-radius: .5rem;
    line-height: 1.5;
}
pre {
    padding: .5rem 1rem;
    overflow-x: auto;
}
code { padding: .25rem .5rem; }

// Post items
.post {
    h3,
    p { margin: .5rem 0; }
    a {
        &:hover,
        &:focus {
            h3,
            p {
              //background: var(--lunar-bg);
              //color: black;
              opacity: .7;
          }
      }
        //text-decoration: none;
        font-weight: bold;
        transition: none;
    }
}

// Misc
.anchor { padding-left: .5rem; }
.d {
    font-weight: bold;
    color: rgba(0,0,0,0.8);
    @media(prefers-color-scheme: dark) {color: rgba(243,243,243,0.8);}
}
hr {
    border-style: solid;
    margin-bottom: 1.5rem;
}
.footnote-definition { display: inline-flex; }
