@import './root.scss';
@import './mixins.scss';

/* Start main doc */
@media (prefers-reduced-motion) {
    * { animation: none !important; }
}

html { background: #6667AB; }
body {
    font-family: Helvetica,
                 Inter,
                 sans-serif;
    border-top: .5rem solid #6667AB;
    background: white;
    margin: 0;
    height: 100%;
    a {
        color: inherit;
        text-underline-offset: .2rem;
        text-decoration-thickness: .125rem;
        &:hover,
        &:focus {
            background: var(--lunar-bg);
            color: black;
            opacity: 1 !important;
        }
        @include transition;
    }
    p { line-height: 1.6; }
    article a p,
    article p { line-height: 1rem; }
    @media (prefers-color-scheme: dark) {
        background: #191919;
        color: #f3f3f3;
    }
    margin: 0 auto;
    max-width: var(--body-max-width);
    padding: 0 var(--body-padding-x) var(--body-padding-y) var(--body-padding-x);
}

.adj {
  aside { img { max-width: 100%; } }
  .bio > .links {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4;
  }
  @media(min-width: 650px) {
    div > :first-child { margin-top: 0; }
    display: flex;
    flex-direction: row;
    aside {
      margin-right: 2rem;
      hr { display: none; }
    }
  }
}

code {
    background: #383838;
    color: #e6e1dc;
    padding: .2rem;
}

footer {
    padding-top: 1rem;
    padding-bottom: 2em;
    text-align: center;
    color: rgba(0,0,0,0.8);
    @media(prefers-color-scheme: dark) {color: rgba(243,243,243,0.8);}
}

header {
    text-align: center;
    h1 {
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    p {
        color: rgba(0,0,0,0.8);
        @media(prefers-color-scheme: dark) {color: rgba(243,243,243,0.8);}
        line-height: 1.25;
        font-weight: bold;
        font-size: 1.1rem;
    }
}
main,
.rdbl {
    h1 {
        font-size: 3rem;
        @media(min-width: 650px) { margin-top: 0; }
    }
    h2 {
        font-size: 2rem;
        margin-bottom: .5rem;
        margin-top: 0;
    }
    ul > li {
        padding-top: .3rem;
        padding-bottom: .3rem;
        ul > li:last-child { padding-bottom: 0; }
    }
    img { max-width: 100%; }
    main { li { line-height: 1.6; } }
}

nav {
    @media(min-width: 650px) {
        background: #6667AB;
        color: white;
        //position: fixed;
        
        //border-top: .25rem solid #6667AB;
        padding-top: .5rem;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    // z-index: 2;
    background-color: #6667AB;
    margin-bottom: 3rem;
    color: white;
    ul {
        display: grid;
        @media(min-width: 650px) {
            display: flex;
            justify-content: space-between;
            height: 2.5rem;
            padding-top: .6rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        grid-template-columns: 1fr 1fr;
        row-gap: 1.25rem;
        padding: 0;
        li {
            text-align: center;
            list-style-type: none;
            font-size: 1rem;
            &:hover,
            &:focus {
                a {
                    color: white;
                    background: none;
                    text-decoration: underline;
                    text-decoration-color: initial;
                }
            }
            a {
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}

.disclaimer {
    font-style: italic;
    color: rgba(0,0,0,0.8);
    @media(prefers-color-scheme: dark) {color: rgba(243,243,243,0.8);}
}

// Feed classes
.feed {
    @media (min-width: 600px) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
    @media(min-width: 1000px) {
        grid-template-columns: repeat(3, minmax(0,2fr));
    }
    .post {
        margin-top: 0;
        margin-left: .5rem;
        margin-right: .5rem;
    }
}
.post {
    background: radial-gradient(#6667AB 35%,transparent 35%);
    border-radius: 3px;
    border: 3px solid #6667AB;
    margin: 0 auto 1rem auto;
    margin-top: 1rem;
    background-size: 5px 5px;
    padding: 1rem;
    div {
        margin-left: auto;
        margin-right: auto;
        background: white;
        padding: 1rem;
        border-radius: 3px;
        @media(prefers-color-scheme: dark) {
            background: #191919;
        }
    }
    a {
        color: inherit;
        &:hover,
        &:focus {
            h3,
            p {
              background: var(--lunar-bg);
            }
            color: #000;
        }
        text-decoration: none;
        font-weight: bold;
        transition: none;
    }
}
