(redirs) {
	# Old page URLs; remove 31 juil., 2022
	#redir /~ / 301
	redir /assets/line_invite.jpg https://line.me/R/ti/p/doamatto 301

	# Draft page redits
	redir /cv https://www.linkedin.com/in/matthewronchetto/ 302

	# Github redirs; remove 31 dec, 2022
	redir /projects/5mloading https://github.com/doamatto/5mloading 301
	redir /projects/fushimi https://github.com/doamatto/fushimi 301
	redir /projects/google-apis-for-vlang https://github.com/doamatto/googleapis 301
	redir /projects/inari https://github.com/doamatto/inari 301
	redir /projects/maji https://github.com/doamatto/maji 301
	redir /projects/saluto https://github.com/doamatto/saluto 301
	redir /projects/southpine-wrappers https://github.com/playglitch 301
	redir /projects/swift-bot https://github.com/doamatto/swiftbot-legacy 301
	redir /projects/vote-to-mute https://github.com/doamatto/vote-to-mute 301
	redir /projects/yamh https://github.com/doamatto/yamh 301
	redir /icloud-shortcuts https://github.com/doamatto/icloud-shortcuts 301

	# Rainbows; make "seasonal"?
	redir /🏳️‍🌈 /rainbows 301
	redir /%F0%9F%8F%B3%EF%B8%8F%E2%80%8D%F0%9F%8C%88 /rainbows 301
	redir /🏳%EF%B8%8F%E2%80%8D🌈 /rainbows 301

	# Caching
	header Cache-Control "max-age=3600"
	header /static/* Cache-Control "max-age=31536000"

	# General headers
	header Permissions-Policy "interest-cohort=(), browsing-topics=(), join-ad-interest-group=(), run-ad-auction=()"
	header X-Content-Type-Options "nosniff"
	header X-Frame-Options "DENY"
	header Referrer-Policy "no-referrer"
	header Strict-Transport-Security "max-age=31536000;includeSubDomains;preload"
	header Vary "Origin"
	header Expect-CT "max-age=86400, enforce"
  header Server "maatt DOT fr"
  header Cross-Origin-Opener-Policy-Report-Only "same-origin; report-to='mailto:security@doamatto.xyz'"
  header Cross-Origin-Embedder-Policy-Report-Only "require-corp; 'mailto:security@doamatto.xyz'"
  #header Cross-Origin-Opener-Policy "same-origin; report-to='mailto:security@doamatto.xyz'"
  #header Cross-Origin-Embedder-Policy "require-corp; report-to='mailto:security@doamatto.xyz'"
	header Content-Security-Policy "default-src 'none'; style-src 'self'; img-src 'self' https://fm.doamatto.xyz; font-src 'none'; form-action 'none'; upgrade-insecure-requests; block-all-mixed-content; object-src 'none'; connect-src 'none'; base-uri 'self'; frame-ancestors 'none'"
}

#matt.fa,
maatt.fr {
	import redirs
  root * /srv/apps/caddy/sites/maatt.fr/out
	encode zstd gzip
	file_server {
    precompressed br
  }
}

#www.matt.fa,
maatt.ch,
www.maatt.ch,
www.maatt.fr {
	import redirs
	redir https://maatt.fr{uri} 301
}
