(redirs) {
	# Old page URLs
	redir /archive/social /contact/

	# Rainbows
	redir /🏳️‍🌈 /rainbows
	redir /%F0%9F%8F%B3%EF%B8%8F%E2%80%8D%F0%9F%8C%88 /rainbows
	redir /🏳%EF%B8%8F%E2%80%8D🌈 /rainbows

	# Caching
	header Cache-Control "max-age=3600"
	header /static/* Cache-Control "max-age=31536000"

	# General headers
	header Permissions-Policy "interest-cohort=()"
	header X-Content-Type-Options "nosniff"
	header X-Frame-Options "DENY"
	header Referrer-Policy "no-referrer"
	header Strict-Transport-Security "max-age=31536000;includeSubDomains;preload"
	header Vary "Origin"
	header Expect-CT "max-age=86400, enforce"
	header Content-Security-Policy "default-src 'none'; style-src 'self'; img-src data: *; font-src 'none'; form-action 'none'; upgrade-insecure-requests; block-all-mixed-content; object-src 'none'; connect-src 'none'; base-uri 'self'; frame-ancestors 'none'"
}
