{% extends "base.html" %}

{% set section = get_section(path=path) %}

{% block title %}{{section.title}} - doamatto{% endblock title %}
{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}

{% block content %}
<header>
  <h1>{{ section.title }}</h1>
  {{ section.content | safe }}
</header>
<section>
    {% set pages = section.pages %}

    {% for year, posts in pages | group_by(attribute="year") %}
        <h2 id="{{year}}">{{year}}</h2>
        {% for post in posts %}
            <article class="post in">
                <div>
                    <a href="{{ post.permalink | safe }}">
                        <h3>{{ post.title }}</h3>
                    </a>
                    <p>{{post.description | safe }} <time datetime="{{post.date}}" class="d">{{post.date | date(format="%e %B, %Y")}}</time></p>
                </div>
            </article>
        {% endfor %}
    {% endfor %}
</section>
{% endblock content %}
