@media(max-width: 500px) {
    .logo > a > svg {
        max-width: 90px;
        max-height: 90px;
    }
}

@media (min-width: 500px) {
    .navItem {
        background-image: var(--navHover);
        background-position: 0 0;
        background-size: 100% 225%;
        transition: background-position 250ms,
                    color 250ms,
                    background-size 250ms;
    }
    .navItem:hover {
        background-position: 0 100%;
        background-size: 100% 200%;
    }
}

