{% extends "base.html" %}

{% block content %}
<div class="adj">
  <aside class="bio">
    <img src="/img/profile.jpg" loading="lazy" alt="Photo of Matt Ronchetto wearing a mask" />
    <p class="links">
        <a href="https://github.com/doamatto">GitHub /doamatto</a><br/>
        <a href="weixin://dl/chat?doamatto">Weixin @doamatto</a><br/>
        <a href="https://www.behance.net/doamatto">Behance @doamatto</a><br/>
        <a href="mailto:hello@doamatto.xyz">Email hello@doamatto.xyz</a><br/>
    </p>
    <hr/>
  </aside>
  <main class="rdbl">{{page.content | safe}}</main>
</div>
{% endblock content %}
