{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="adj">
  <aside class="bio">
    <img src="/img/profile.jpg" loading="lazy" alt="Photo of Matt Ronchetto wearing a mask" />
    <p class="links">
        <a href="https://github.com/doamatto">GitHub /doamatto</a><br/>
        <a href="https://sr.ht/~doamatto/">Sir Hat ~doamatto</a><br/>
        <a href="weixin://dl/chat?doamatto">Weixin @doamatto</a><br/><br/>
        <a href="mailto:web@doamatto.xyz">web@doamatto.xyz</a><br/>
    </p>
    <hr/>
  </aside>
  <section class="rdbl">{{page.content | safe}}</section>
</div>
{% endblock content %}
