<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="alternate" type="application/atom+xml" href="/atom.xml">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/style.css" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
        <link rel="author" href="humans.txt" />
        <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}" />
        <meta name="author" content="Matt Ronchetto" />
        <meta property="og:url" content="{% block ogurl %}{{config.base_url | safe }}{% endblock ogurl %}" />
        {% if page.date -%}
          <meta property="article:published_time" content="{{ page.date }}" />
        {%- endif %}
    </head>
    <body>
        <nav>
            <ul>
                <li class="home">
                    <a href="/" title="Home">
                        <svg width="80" height="80" viewBox="0 0 500 500" fill="none"><path d="M245.344 188.5C247.269 185.167 252.08 185.167 254.004 188.5L325.019 311.5C326.943 314.833 324.537 319 320.688 319H178.66C174.811 319 172.406 314.833 174.33 311.5L245.344 188.5Z" stroke="black" stroke-width="15"></path></svg>
                    </a>
                </li>
                <li>
                    <a href="/projects" title="Projects">Projects</a>
                </li>
                <li>
                    <a href="/about" title="About">About</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <p>
                &copy; 2018-2022 Matt Ronchetto d.b.a. doamatto.<br/>
                <a href="https://creativecommons.org/licenses/by/4.0/deed.fr">CC-BY,</a> unless mentioned otherwise.<br/>
            </p>
            <div>
                <ul>
                    <li>
                        <a title="Imprint" href="/imprint">Impressum.</a>
                    </li>
                    <li>
                        <a title="Privacy" href="/privacy">I protect your privacy.</a>
                    </li>
                    <li>
                        <a ittle="Contact" href="/contact">Contact.</a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>
