{% extends "base.html" %}

{% block content %}
<header>
  <h1>新年快乐! I'm Matt Ronchetto.</h1>
  <p>
    I'm a high school student living in San Diego, CA. I like to mess around with software development and graphic design as well.
  </p>
</header>
<div class="feeds">
    <div>
        <h2>Blog posts</h2>
        {% set feed = get_section(path="blog/_index.md")%}
        {% for page in feed.pages | slice(end=4) %}
            <article class="post">
                <a href="{{ page.permalink }}" title="{{page.title}}">
                    <h3>{{page.title}}</h3>
                </a>
                <p>{{page.description | safe }} <span class="disclaimer">{{page.date | date(format="%e %B, %Y")}}</span></p>
            </article>
        {% endfor %}
        <a href="/blog" class="disclaimer">See all {{ feed.pages | length }} posts &rarr;</a>
    </div>
    <div>
        <h2>Projects</h2>
        {% set feed = get_section(path="projects/_index.md")%}
        {% for page in feed.pages | slice(end=6) %}
            <article class="post">
                <a href="{{ page.permalink }}" title="{{page.title}}">
                    <h3>{{page.title}}</h3>
                </a>
                <p>{{page.description | safe }}</p>
            </article>
        {% endfor %}
        <a href="/projects" class="disclaimer">See all {{ feed.pages | length }} projects &rarr;</a>
    </div>
</div>
{% endblock content %}
