{% extends "base.html" %}

{% block title %}CV{% endblock title %}

{% block content %}
<header>
  <h1>CV</h1>
  <p>Fun fact: printing this page will provide a print-friendly copy.</p>
</header>
<style>
  @media print {
    nav,
    footer,
    header { display: none; }
  }
  .bioa > h2,
  .bioa > h3 {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  .bioa { margin-bottom: 1rem; }
  line-height: 1;
  @media (max-width: 649px) {
    .adj { flex-direction: column-reverse; }
  }
</style>
<div class="bio bioa">
  <h2>Matthew "Matt" Ronchetto</h2>
  <h3>High-school computer engineer, avid autophile, cinematographer.</h3>
  <div>
    <a href="mailto:hey@doamatto.xyz">hey@doamatto.xyz</a><br/>
    <a href="https://doamatto.xyz">doamatto.xyz</a>
  </div>
</div>
<div class="adj">
  <aside class="bio">
      <div class="rdbl">
        <h2>Education</h2>
        <div>
          <p>
            <strong>Scripps Ranch HS</strong> High school diploma – Jun 2023
          </p>
        </div>
      </div>
      <div class="rdbl">
        <h2>Skills</h2>
        <ul>
          <li>IT Operations</li>
          <li>Web development</li>
          <li>Linux system administration</li>
          <li>Node.js</li>
          <li>Git</li>
          <li>Figma (software)</li>
          <li>Golang / Go</li>
          <li>Web Content Accessibility Guidelines</li>
          <li>Dart</li>
          <li>Amazon Web Services</li>
          <li>Nginx</li>
        </ul>
      </div>
      <div class="rdbl">
        <h2>Languages</h2>
        <ul>
          <li><strong>English–</strong> Native/bilingual tongue</li>
          <li><strong>Français–</strong> Native/bilingual tongue (limited working proficiency)</li>
          <li><strong>日本語–</strong> Elementary proficiency</li>
        </ul>
      </div>
  </aside>
  <main class="rdbl">
    <h2>Experience</h2>
    <div>
      <p>
        <strong>To-Go & Host/Hostess, Chili's</strong><br/>
        <em>Aug 2021 - Present</em>
      </p>
    </div>
    <div>
      <p>
        <strong>Solutions Architect & Web Development Manager, Inkjar</strong><br/>
        <em>Sep 2021 - Present</em>
      </p>
      <ul>
        <li>Managed mail and web solutions both internally and for clients</li>
        <li>Setup and maintain Inkjar's website, as well as the hosting for clients</li>
        <li>Lead the development of several websites</li>
        <li>Managed a small team of developers and designers</li>
      </ul>
    </div>
    <div>
      <p>
        <strong>Production Crew, Scripps Ranch HS</strong><br/>
        <em>Aug 2021 - Present</em>
      </p>
      <ul>
        <li>Ran AV work for assemblies and other school events</li>
        <li>Ran production of school news network</li>
        <li>Ran live feed for graduation with ~7000 viewers (2022)</li>
      </ul>
    </div>
</main>
{% endblock content %}
