{% extends "base.html" %}

{% block title %}{{page.title}} - doamatto{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}
{% block ogtitle %}{{ page.title }}{% endblock ogtitle %}
{% block ogdesc %}{{ page.description }}{% endblock ogdesc %}
{% block ogurl %}{{ page.permalink | safe }}{% endblock ogurl%}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>
<div class="feed">
    {% for page in section.pages %}
    <article class="post">
        <a href="{{ page.permalink | safe }}">
            <p>{{ page.title }}</p>
        </a>
        <p>{{page.description | safe }}</p>
    </article>
    {% endfor %}
</div>
{% endblock content %}
