{% extends "base.html" %}

{% set section = get_section(path=path) %}

{% block title %}{{section.title}} - doamatto{% endblock title %}
{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}
{% block ogtitle %}{{ section.title }} - doamatto{% endblock ogtitle %}
{% block ogdesc %}{{ section.description }}{% endblock ogdesc %}
{% block ogurl %}{{ section.permalink | safe }}{% endblock ogurl%}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>
{{ section.content | safe }}
<div class="feed">
    {% for page in section.pages %}
    <article class="post">
        <a href="{{ page.permalink | safe }}">
            <p>{{ page.title }}</p>
        </a>
        <p>{{page.description | safe }}</p>
    </article>
    {% endfor %}
</div>
{% endblock content %}
