{% extends "base.html" %}

{% block title %}{{page.title}} - doamatto{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block ogtitle %}{{ page.title }}{% endblock ogtitle %}
{% block twtitle %}{{ page.title }}{% endblock twtitle %}

{% block ogtype %}article{% endblock ogtype %}
{% block twtype -%}{%- if page.extra.image -%}summary_large_image{%else%}summary{%- endif -%}{%- endblock twtype %}

{% block ogdesc %}{{ page.description }}{% endblock ogdesc %}
{% block twdesc %}{{ page.description }}{% endblock twdesc %}

{% block ogurl %}{{ page.permalink | safe }}{% endblock ogurl%}

{% block ogimage -%}{%- if page.extra.image -%}{{ get_url(path=page.extra.image) | safe }}{%else%}{{ get_url(path=config.extra.ogimage) | safe }}{%- endif -%}{%- endblock ogimage %}
{% block twimage -%}{%- if page.extra.image -%}{{ get_url(path=page.extra.image) | safe }}}{%else%}{{ get_url(path=config.extra.ogimage) | safe }}{%- endif -%}{%- endblock twimage %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
<p class="subtitle">
  {{page.reading_time}} min read &bull; {{ page.date | date(format="%e %B, %Y") }}.
</p>
<div class="readable">
  {{ page.content | safe }}
  {% if page.updated %}
  <p class="disclaimer">Last modified {{ page.updated | date(format="%e %B, %Y") }}.</p>
  {% endif %}
</div>
<p class="disclaimer">
  I usually blog twice a week, but I take breaks from time-to-time. You can subscribe via <a href="/atom.xml">RSS</a> or <a href="https://buttondown.email/doamatto">as a newsletter.</a>
</p>
{% endblock content %}
