{% extends "base.html" %}

{% block title %}{{page.title}} - doamatto{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}
{% block ogtitle %}{{ page.title }}{% endblock ogtitle %}
{% block ogdesc %}{{ page.description }}{% endblock ogdesc %}
{% block ogurl %}{{ page.permalink | safe }}{% endblock ogurl%}
{% block ogimage -%}{%- if page.extra.image -%}{{ get_url(path=page.extra.image) | safe }}{%- endif -%}{%- endblock ogimage %}
{% block ogtype -%}"article"{% endblock ogtype %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
<p class="subtitle">
  {{page.reading_time}} min read &bull; {{ page.date | date(format="%e %B, %Y") }}.
</p>
<div class="readable">
  {{ page.content | safe }}
  {% if page.updated %}
  <p class="disclaimer">Last modified {{ page.updated | date(format="%e %B, %Y") }}.</p>
  {% endif %}
</div>
{% endblock content %}