<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="alternative" type="application/atom+xml" href="/atom.xml" />
    <link href="/tilde.css" rel="stylesheet">
    <title>guest@doamatto.xyz ~ %</title>
    <link rel="author" href="/humans.txt" />
  </head>
  <body>
    <main>
      <p>新年快乐! **I'm Matt Ronchetto** (I go by ドアマット or doamatto on the Internet) and **I’m a high schooler living in San Diego.** I enjoy engineering, be it computer or otherwise, photography, and videography.</p>
      <p>For my actual site, [head here](https://www.doamatto.xyz)</p>

      <hr/>
      
      <p>
                           YAao,
                            Y8888b,
                          ,oA8888888b,
                    ,aaad8888888888888888bo,
                 ,d888888888888888888888888888b,
               ,888888888888888888888888888888888b,
              d8888888888888888888888888888888888888,
             d888888888888888888888888888888888888888b
            d888888P'                    `Y888888888888,
            88888P'                    Ybaaaa8888888888l
           a8888'                      `Y8888P' `V888888
         d8888888a                                `Y8888
        AY/'' `\Y8b                                 ``Y8b
        Y'      `YP                                    ~~
                 `'
      </p>
    </main>
    <footer>
      &copy; 2017-2022 Matt Ronchetto d.b.a. doamatto.<br/>
      <a href="https://creativecommons.org/licenses/by/4.0/deed.fr">CC-BY,</a> unless mentioned otherwise.<br/>
      <a title="Imprint" href="/imprint">Impressum. </a><a title="Privacy" href="/privacy">Privacy.</a><a title="Contact" href="/contact">Contact.</a>
    </footer>
  </body>
</html>
