<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>guest@doamatto.xyz ~ %</title>
    <link rel="author" href="/humans.txt" />
  </head>
  <body>
    <main>
      <p>Bonjour! <strong>I'm Matt Ronchetto</strong> (I go by <code>ドアマット</code> or <code>doamatto</code> on the Internet)</p>
      <p><strong>I’m a high schooler living in San Diego.</strong> I enjoy engineering, be it computer or otherwise, photography, and videography.</p>
      <p>For my actual site, <a href="/">head here.</a></p>

      <hr/>
      
<pre><code>
                     YAao,
                      Y8888b,
                    ,oA8888888b,
              ,aaad8888888888888888bo,
           ,d888888888888888888888888888b,
         ,888888888888888888888888888888888b,
        d8888888888888888888888888888888888888,
       d888888888888888888888888888888888888888b
      d888888P'                    `Y888888888888,
      88888P'                    Ybaaaa8888888888l
     a8888'                      `Y8888P' `V888888
   d8888888a                                `Y8888
  AY/'' `\Y8b                                 ``Y8b
  Y'      `YP                                    ~~
           `'
</code></pre>
    </main>
    <br/><hr/>
    <footer>
      &copy; 2017-2022 Matt Ronchetto d.b.a. doamatto.<br/>
      <a href="https://creativecommons.org/licenses/by/4.0/deed.fr">CC-BY,</a> unless mentioned otherwise.<br/>
      <a title="Imprint" href="/imprint">Impressum.</a> <a title="Privacy" href="/privacy">Privacy.</a> <a title="Contact" href="/contact">Contact.</a>
    </footer>
  </body>
  <style>
    html,
    body {
      background: black;
      color: white;
      font-family: monospace;
    }
    a { color: #ff292a; }
  </style>
</html>
